<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.presto.api.order.entity.ContinueOrder">
    <resultMap type="com.presto.api.order.entity.ContinueOrder" id="result"/>
    <sql id="select_all_cols">
        b_continue_order.id,
        b_continue_order.user_id as userId,
        b_continue_order.order_id as orderId,
        b_continue_order.continue_amount as continueAmount,
        b_continue_order.continue_days as continueDays,
        b_continue_order.created_date as createdDate,
        b_continue_order.updated_date as updatedDate,
        b_continue_order.created_by as createdBy,
        b_continue_order.updated_by as updatedBy,
        b_continue_order.version
    </sql>
    <sql id="insert_all_cols">
        b_continue_order.user_id,
        b_continue_order.order_id,
        b_continue_order.continue_amount,
        b_continue_order.continue_days,
        b_continue_order.deleted_flag,
        b_continue_order.created_date,
        b_continue_order.updated_date,
        b_continue_order.created_by,
        b_continue_order.updated_by,
        b_continue_order.version
    </sql>
    <sql id="where_all">
        WHERE b_continue_order.deleted_flag = 0
        <if test="cond.id != null">
            AND b_continue_order.id = #{cond.id}
        </if>
        <if test="cond.userId != null">
            AND b_continue_order.user_id = #{cond.userId}
        </if>
        <if test="cond.orderId != null">
            AND b_continue_order.order_id = #{cond.orderId}
        </if>
        <if test="cond.continueAmount != null">
            AND b_continue_order.continue_amount = #{cond.continueAmount}
        </if>
        <if test="cond.continueDays != null">
            AND b_continue_order.continue_days = #{cond.continueDays}
        </if>
        <if test="cond.version != null">
            AND b_continue_order.version = #{cond.version}
        </if>
        <if test="cond.ids != null">
            and b_continue_order.id in
            <foreach item="item" index="index" collection="cond.ids" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="cond.createdDateB != null">
            <![CDATA[AND b_continue_order.created_date >= #{cond.createdDateB}]]>
        </if>
        <if test="cond.createdDateE != null">
            <![CDATA[AND b_continue_order.created_date <= #{cond.createdDateE}]]>
        </if>
        <if test="cond.updatedDateB != null">
            <![CDATA[AND b_continue_order.updated_date >= #{cond.updatedDateB}]]>
        </if>
        <if test="cond.updatedDateE != null">
            <![CDATA[AND b_continue_order.updated_date <= #{cond.updatedDateE}]]>
        </if>
    </sql>
    <select id="select" resultMap="result">
        select <include refid="select_all_cols"/>
        FROM b_continue_order
        WHERE deleted_flag = 0 and b_continue_order.id=#{id}
        <if test="lock">
            FOR UPDATE
        </if>
    </select>
    <select id="query" resultMap="result">
        select <include refid="select_all_cols"/>
        FROM b_continue_order
        <include refid="where_all"/>
        <if test="start != null">
            order by b_continue_order.created_date desc
            limit #{start},#{size}
        </if>
    </select>
    <select id="count" resultType="java.lang.Long">
        select count(0)
        FROM b_continue_order
        <include refid="where_all"/>
    </select>
    <select id="sum" resultType="java.math.BigDecimal">
        select sum(${col})
        FROM b_continue_order
        <include refid="where_all"/>
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" >
        INSERT INTO b_continue_order(
            <include refid="insert_all_cols"/>
        ) VALUES (
        #{userId},
        #{orderId},
        #{continueAmount},
        #{continueDays},
        0,
        <if test="createdDate == null">
            current_timestamp(),
        </if>
        <if test="createdDate != null">
            #{createdDate},
        </if>
        current_timestamp(),
        #{createdBy},
        #{updatedBy},
        1
        )
    </insert>
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" >
        INSERT INTO b_continue_order(
            <if test="userId != null">
                b_continue_order.user_id,
            </if>
            <if test="orderId != null">
                b_continue_order.order_id,
            </if>
            <if test="continueAmount != null">
                b_continue_order.continue_amount,
            </if>
            <if test="continueDays != null">
                b_continue_order.continue_days,
            </if>
            b_continue_order.deleted_flag,
            b_continue_order.created_date,
            b_continue_order.updated_date,
            b_continue_order.created_by,
            b_continue_order.updated_by,
            b_continue_order.version
        ) VALUES (
        <if test="userId != null">
            #{userId},
        </if>
        <if test="orderId != null">
            #{orderId},
        </if>
        <if test="continueAmount != null">
            #{continueAmount},
        </if>
        <if test="continueDays != null">
            #{continueDays},
        </if>
        0,
        current_timestamp(),
        current_timestamp(),
        #{createdBy},
        #{updatedBy},
        1
        )
    </insert>
    <insert id="batchInsert">
        INSERT INTO b_continue_order(
        <include refid="insert_all_cols" />
        ) VALUES
        <foreach item="item" index="index" collection="list" open="" separator="," close="">
            (
            #{item.userId},
            #{item.orderId},
            #{item.continueAmount},
            #{item.continueDays},
            0,
            current_timestamp(),
            current_timestamp(),
            #{item.createdBy},
            #{item.updatedBy},
            1
            )
        </foreach>
    </insert>
    <insert id="insertWithId">
        INSERT INTO b_continue_order(id,<include refid="insert_all_cols"/>)
        VALUES
        (#{id},
        #{userId},
        #{orderId},
        #{continueAmount},
        #{continueDays},
        0,
        current_timestamp(),
        current_timestamp(),
        #{createdBy},
        #{updatedBy},
        1
        )
    </insert>
    <insert id="batchInsertWithId">
        INSERT INTO b_continue_order(id,<include refid="insert_all_cols"/>)
        VALUES
        <foreach item="item" index="index" collection="list" open="" separator="," close="">
            (
            #{item.id},
            #{item.userId},
            #{item.orderId},
            #{item.continueAmount},
            #{item.continueDays},
            0,
            current_timestamp(),
            current_timestamp(),
            #{item.createdBy},
            #{item.updatedBy},
            1
            )
        </foreach>
    </insert>
    <update id="update">
        update b_continue_order
        <set>
            user_id = #{userId},
            order_id = #{orderId},
            continue_amount = #{continueAmount},
            continue_days = #{continueDays},
            version = version + 1,
            updated_date = current_timestamp(),
            updated_by=#{updatedBy}
        </set>
        where b_continue_order.id = #{id}
    </update>
    <update id="updateSelective">
        update b_continue_order
        <set>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="orderId != null">
                order_id = #{orderId},
            </if>
            <if test="continueAmount != null">
                continue_amount = #{continueAmount},
            </if>
            <if test="continueDays != null">
                continue_days = #{continueDays},
            </if>
            version = version + 1,
            updated_date = current_timestamp(),
            updated_by=#{updatedBy}
        </set>
        where b_continue_order.id = #{id}
    </update>
    <delete id="delete">
        update b_continue_order set deleted_flag = 1
        <include refid="where_all"/>
    </delete>
    <delete id="deleteById">
        update b_continue_order set deleted_flag = 1 where b_continue_order.id = #{id}
    </delete>
    <delete id="deleteCompletely">
        delete from b_continue_order
        <include refid="where_all"/>
    </delete>
    <delete id="deleteByIdCompletely">
        delete from b_continue_order where b_continue_order.id = #{id}
    </delete>
</mapper>
