<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.presto.api.user.entity.User">
    <resultMap type="com.presto.api.user.entity.User" id="result"/>
    <sql id="select_all_cols">
        u_user.id,
        u_user.mobile as mobile,
        u_user.name as name,
        u_user.invite_code_id as inviteCodeId,
        u_user.passwd as passwd,
        u_user.created_date as createdDate,
        u_user.updated_date as updatedDate,
        u_user.created_by as createdBy,
        u_user.updated_by as updatedBy,
        u_user.version
    </sql>
    <sql id="insert_all_cols">
        u_user.mobile,
        u_user.name,
        u_user.invite_code_id,
        u_user.passwd,
        u_user.deleted_flag,
        u_user.created_date,
        u_user.updated_date,
        u_user.created_by,
        u_user.updated_by,
        u_user.version
    </sql>
    <sql id="where_all">
        WHERE u_user.deleted_flag = 0
        <if test="cond.id != null">
            AND u_user.id = #{cond.id}
        </if>
        <if test="cond.mobile != null">
            AND u_user.mobile = #{cond.mobile}
        </if>
        <if test="cond.name != null">
            AND u_user.name = #{cond.name}
        </if>
        <if test="cond.inviteCodeId != null">
            AND u_user.invite_code_id = #{cond.inviteCodeId}
        </if>
        <if test="cond.passwd != null">
            AND u_user.passwd = #{cond.passwd}
        </if>
        <if test="cond.version != null">
            AND u_user.version = #{cond.version}
        </if>
        <if test="cond.ids != null">
            and u_user.id in
            <foreach item="item" index="index" collection="cond.ids" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="cond.createdDateB != null">
            <![CDATA[AND u_user.created_date >= #{cond.createdDateB}]]>
        </if>
        <if test="cond.createdDateE != null">
            <![CDATA[AND u_user.created_date <= #{cond.createdDateE}]]>
        </if>
        <if test="cond.updatedDateB != null">
            <![CDATA[AND u_user.updated_date >= #{cond.updatedDateB}]]>
        </if>
        <if test="cond.updatedDateE != null">
            <![CDATA[AND u_user.updated_date <= #{cond.updatedDateE}]]>
        </if>
    </sql>
    <select id="select" resultMap="result">
        select <include refid="select_all_cols"/>
        FROM u_user
        WHERE deleted_flag = 0 and u_user.id=#{id}
        <if test="lock">
            FOR UPDATE
        </if>
    </select>
    <select id="query" resultMap="result">
        select <include refid="select_all_cols"/>
        FROM u_user
        <include refid="where_all"/>
        <if test="start != null">
            order by u_user.created_date desc
            limit #{start},#{size}
        </if>
    </select>
    <select id="count" resultType="java.lang.Long">
        select count(0)
        FROM u_user
        <include refid="where_all"/>
    </select>
    <select id="sum" resultType="java.math.BigDecimal">
        select sum(${col})
        FROM u_user
        <include refid="where_all"/>
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" >
        INSERT INTO u_user(
            <include refid="insert_all_cols"/>
        ) VALUES (
        #{mobile},
        #{name},
        #{inviteCodeId},
        #{passwd},
        0,
        <if test="createdDate == null">
            current_timestamp(),
        </if>
        <if test="createdDate != null">
            #{createdDate},
        </if>
        current_timestamp(),
        #{createdBy},
        #{updatedBy},
        1
        )
    </insert>
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" >
        INSERT INTO u_user(
            <if test="mobile != null">
                u_user.mobile,
            </if>
            <if test="name != null">
                u_user.name,
            </if>
            <if test="inviteCodeId != null">
                u_user.invite_code_id,
            </if>
            <if test="passwd != null">
                u_user.passwd,
            </if>
            u_user.deleted_flag,
            u_user.created_date,
            u_user.updated_date,
            u_user.created_by,
            u_user.updated_by,
            u_user.version
        ) VALUES (
        <if test="mobile != null">
            #{mobile},
        </if>
        <if test="name != null">
            #{name},
        </if>
        <if test="inviteCodeId != null">
            #{inviteCodeId},
        </if>
        <if test="passwd != null">
            #{passwd},
        </if>
        0,
        current_timestamp(),
        current_timestamp(),
        #{createdBy},
        #{updatedBy},
        1
        )
    </insert>
    <insert id="batchInsert">
        INSERT INTO u_user(
        <include refid="insert_all_cols" />
        ) VALUES
        <foreach item="item" index="index" collection="list" open="" separator="," close="">
            (
            #{item.mobile},
            #{item.name},
            #{item.inviteCodeId},
            #{item.passwd},
            0,
            current_timestamp(),
            current_timestamp(),
            #{item.createdBy},
            #{item.updatedBy},
            1
            )
        </foreach>
    </insert>
    <insert id="insertWithId">
        INSERT INTO u_user(id,<include refid="insert_all_cols"/>)
        VALUES
        (#{id},
        #{mobile},
        #{name},
        #{inviteCodeId},
        #{passwd},
        0,
        current_timestamp(),
        current_timestamp(),
        #{createdBy},
        #{updatedBy},
        1
        )
    </insert>
    <insert id="batchInsertWithId">
        INSERT INTO u_user(id,<include refid="insert_all_cols"/>)
        VALUES
        <foreach item="item" index="index" collection="list" open="" separator="," close="">
            (
            #{item.id},
            #{item.mobile},
            #{item.name},
            #{item.inviteCodeId},
            #{item.passwd},
            0,
            current_timestamp(),
            current_timestamp(),
            #{item.createdBy},
            #{item.updatedBy},
            1
            )
        </foreach>
    </insert>
    <update id="update">
        update u_user
        <set>
            mobile = #{mobile},
            name = #{name},
            invite_code_id = #{inviteCodeId},
            passwd = #{passwd},
            version = version + 1,
            updated_date = current_timestamp(),
            updated_by=#{updatedBy}
        </set>
        where u_user.id = #{id}
    </update>
    <update id="updateSelective">
        update u_user
        <set>
            <if test="mobile != null">
                mobile = #{mobile},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="inviteCodeId != null">
                invite_code_id = #{inviteCodeId},
            </if>
            <if test="passwd != null">
                passwd = #{passwd},
            </if>
            version = version + 1,
            updated_date = current_timestamp(),
            updated_by=#{updatedBy}
        </set>
        where u_user.id = #{id}
    </update>
    <delete id="delete">
        update u_user set deleted_flag = 1
        <include refid="where_all"/>
    </delete>
    <delete id="deleteById">
        update u_user set deleted_flag = 1 where u_user.id = #{id}
    </delete>
    <delete id="deleteCompletely">
        delete from u_user
        <include refid="where_all"/>
    </delete>
    <delete id="deleteByIdCompletely">
        delete from u_user where u_user.id = #{id}
    </delete>
</mapper>
